<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>home2</display-name>
  <welcome-file-list>
    <welcome-file>main.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>curriculum</servlet-name>
    <servlet-class>bit.curriculum.controller.CurriculumController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>result</servlet-name>
    <servlet-class>bit.result.controller.ResultController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>question</servlet-name>
    <servlet-class>bit.question.controller.QuestionController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>loginbit</servlet-name>
    <servlet-class>lms.login.controller.LoginController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>lectrueList</servlet-name>
    <servlet-class>lms.teachmanage.controller.LectureController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>lectureDetail</servlet-name>
    <servlet-class>lms.teachmanage.controller.LectureDetailController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>lectureEdit</servlet-name>
    <servlet-class>lms.teachmanage.controller.LectureEditController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>lectureAdd</servlet-name>
    <servlet-class>lms.teachmanage.controller.LectureAddController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>joinList</servlet-name>
    <servlet-class>lms.teachmanage.controller.JoinController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>joinDetail</servlet-name>
    <servlet-class>lms.teachmanage.controller.JoinDetailController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>lmsNoticeList</servlet-name>
    <servlet-class>lms.teachsupport.controller.NoticeController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>lmsNoticeAdd</servlet-name>
    <servlet-class>lms.teachsupport.controller.NoticeAddController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>lmsNoticeEdit</servlet-name>
    <servlet-class>lms.teachsupport.controller.NoticeEditController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>lmsNoticeDetail</servlet-name>
    <servlet-class>lms.teachsupport.controller.NoticeDetailController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>useGuideList</servlet-name>
    <servlet-class>lms.teachsupport.controller.UseGuideController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>useGuideDetail</servlet-name>
    <servlet-class>lms.teachsupport.controller.UseGuideDetailController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>askedQuestionList</servlet-name>
    <servlet-class>lms.teachsupport.controller.AskedQuestionController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>askedQuestionAdd</servlet-name>
    <servlet-class>lms.teachsupport.controller.AskedQuestionAddController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>askedQuestionDetail</servlet-name>
    <servlet-class>lms.teachsupport.controller.AskedQuestionDetailController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>askedQuestionEdit</servlet-name>
    <servlet-class>lms.teachsupport.controller.AskedQuestionEditController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>infoCenterList</servlet-name>
    <servlet-class>lms.teachsupport.controller.InfoCenterController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>infoCenterDetail</servlet-name>
    <servlet-class>lms.teachsupport.controller.InfoCenterDetailController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>myInfo</servlet-name>
    <servlet-class>lms.myinfo.controller.MyInfoController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>assignBoard</servlet-name>
    <servlet-class>lms.community.controller.AssignBoardController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>sourceBoard</servlet-name>
    <servlet-class>lms.community.controller.SourceBoardController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>lectureEstimate</servlet-name>
    <servlet-class>lms.community.controller.LectureEstimateController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>teacherEstimate</servlet-name>
    <servlet-class>lms.community.controller.TeacherEstimateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>curriculum</servlet-name>
    <url-pattern>/curriculum.bit</url-pattern>
    <url-pattern>/curriculumJoin.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>result</servlet-name>
    <url-pattern>/result.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>question</servlet-name>
    <url-pattern>/question.bit</url-pattern>
    <url-pattern>/questionResult.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginbit</servlet-name>
    <url-pattern>/login.bit</url-pattern>
    <url-pattern>/loginResult.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>lectrueList</servlet-name>
    <url-pattern>/lms/teachManage/lectureList.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>lectureDetail</servlet-name>
    <url-pattern>/lms/teachManage/lectureDetail.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>lectureEdit</servlet-name>
    <url-pattern>/lms/teachManage/lectureEdit.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>lectureAdd</servlet-name>
    <url-pattern>/lms/teachManage/lectureAdd.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>joinList</servlet-name>
    <url-pattern>/lms/teachManage/joinList.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>joinDetail</servlet-name>
    <url-pattern>/lms/teachManage/joinDetail.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>lmsNoticeAdd</servlet-name>
    <url-pattern>/lms/teachSupport/noticeAdd.bit</url-pattern>
    <url-pattern>/lms/teachSupport/noticeAdding.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>lmsNoticeEdit</servlet-name>
    <url-pattern>/lms/teachSupport/noticeEdit.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>lmsNoticeDetail</servlet-name>
    <url-pattern>/lms/teachSupport/noticeDetail.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>lmsNoticeList</servlet-name>
    <url-pattern>/lms/teachSupport/noticeList.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>useGuideList</servlet-name>
    <url-pattern>/lms/teachSupport/useGuideList.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>useGuideDetail</servlet-name>
    <url-pattern>/lms/teachSupport/useGuideDetail.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>askedQuestionList</servlet-name>
    <url-pattern>/lms/teachSupport/askedQuestionList.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>askedQuestionAdd</servlet-name>
    <url-pattern>/lms/teachSupport/askedQuestionAdd.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>askedQuestionEdit</servlet-name>
    <url-pattern>/lms/teachSupport/askedQuestionEdit.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>askedQuestionDetail</servlet-name>
    <url-pattern>/lms/teachSupport/askedQuestionDetail.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>infoCenterList</servlet-name>
    <url-pattern>/lms/teachSupport/infoCenterList.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>infoCenterDetail</servlet-name>
    <url-pattern>/lms/teachSupport/infoCenterDetail.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>myInfo</servlet-name>
    <url-pattern>/lms/myinfo/myInfoMain.bit</url-pattern>
    <url-pattern>/lms/myinfo/myInfoEdit.bit</url-pattern>
    <url-pattern>/lms/myinfo/myInfoPwEdit.bit</url-pattern>
    <url-pattern>/lms/myinfo/myInfoJoinOut.bit</url-pattern>
    <url-pattern>/lms/myinfo/myInfoPrtComplete.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>assignBoard</servlet-name>
    <url-pattern>/lms/community/assignBoard.bit</url-pattern>
    <url-pattern>/lms/community/assignBoardDetail.bit</url-pattern>
    <url-pattern>/lms/community/assignBoardAdd.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sourceBoard</servlet-name>
    <url-pattern>/lms/community/sourceBoard.bit</url-pattern>
    <url-pattern>/lms/community/sourceBoardDetail.bit</url-pattern>
    <url-pattern>/lms/community/sourceBoardAdd.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>lectureEstimate</servlet-name>
    <url-pattern>/lms/community/lectureEstimate.bit</url-pattern>
    <url-pattern>/lms/community/lectureEstimateDetail.bit</url-pattern>
    <url-pattern>/lms/community/lectureEstimateAdd.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>teacherEstimate</servlet-name>
    <url-pattern>/lms/community/teacherEstimate.bit</url-pattern>
    <url-pattern>/lms/community/teacherEstimateDetail.bit</url-pattern>
    <url-pattern>/lms/community/teacherEstimateAdd.bit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>curriculumJoinResult</servlet-name>
    <servlet-class>bit.curriculumjoin.controller.CurriculumJoinResultController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>curriculumJoinResult</servlet-name>
    <url-pattern>/curriculumJoinResult.bit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>resultCheck</servlet-name>
    <servlet-class>bit.result.controller.ResultCheckController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>resultCheck</servlet-name>
    <url-pattern>/resultCheck.bit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>lmsNoticeDelete</servlet-name>
    <servlet-class>lms.teachsupport.controller.NoticeDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lmsNoticeDelete</servlet-name>
    <url-pattern>/lms/teachSupport/noticeDelete.bit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>useGuideAdd</servlet-name>
    <servlet-class>lms.teachsupport.controller.UseGuideAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>useGuideAdd</servlet-name>
    <url-pattern>/lms/teachSupport/useGuideAdd.bit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>useGuideEdit</servlet-name>
    <servlet-class>lms.teachsupport.controller.UseGuideEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>useGuideEdit</servlet-name>
    <url-pattern>/lms/teachSupport/useGuideEdit.bit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>useGuideDelete</servlet-name>
    <servlet-class>lms.teachsupport.controller.UseGuideDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>useGuideDelete</servlet-name>
    <url-pattern>/lms/teachSupport/useGuideDelete.bit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>faqAdd</servlet-name>
    <servlet-class>lms.teachsupport.controller.FaqAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>faqAdd</servlet-name>
    <url-pattern>/lms/teachSupport/faqAdd.bit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>faqEdit</servlet-name>
    <servlet-class>lms.teachsupport.controller.FaqEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>faqEdit</servlet-name>
    <url-pattern>/lms/teachSupport/faqEdit.bit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>faqDelete</servlet-name>
    <servlet-class>lms.teachsupport.controller.FaqDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>faqDelete</servlet-name>
    <url-pattern>/lms/teachSupport/faqDelete.bit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>faqList</servlet-name>
    <servlet-class>lms.teachsupport.controller.FaqListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>faqList</servlet-name>
    <url-pattern>/lms/teachSupport/faqList.bit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>faqDetail</servlet-name>
    <servlet-class>lms.teachsupport.controller.FaqDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>faqDetail</servlet-name>
    <url-pattern>/lms/teachSupport/faqDetail.bit</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>NoticeSubboardAdd</servlet-name>
  	<servlet-class>lms.teachsupport.controller.SubboardAddController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>NoticeSubboardAdd</servlet-name>
  	<url-pattern>/lms/teachSupport/subboardAdd.bit</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>InfoCenterAnswer</servlet-name>
  	<servlet-class>lms.teachsupport.controller.InfoCenterAnswerController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>InfoCenterAnswer</servlet-name>
  	<url-pattern>/lms/teachSupport/infoCenterAnswer.bit</url-pattern>
  </servlet-mapping>
</web-app>